.navbar {
  background-color: rgb(12, 67, 140) !important;
  height: 65px;
}

.navbar-brand,
.navbar-nav .nav-link {
  color: white !important;
}

.distance-logo {
  margin-left: 20px;
  font-weight: 300;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;

}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85vh;
  flex-direction: column;
  font-weight: 300;
}

.forgot-password {
  width: 448px;
  text-align: right;
}


.input-block,
.btn-login {
  width: 448px;
  height: 48px;
  background-color: #f5f5f5;
  border: none;
  padding: 5px;
  border-radius: 3px;
  margin-bottom: 10px;
  padding: 5px 12px;
  transition: box-shadow 0.3s ease, background-color 0.3s ease;
}

.btn-login {
  background-color: rgb(12, 67, 140);
  color: white;
}

.captcha-button {
  background-color: rgb(12, 67, 140);
  height: 40px;
  border: none;
  border-radius: 3px;
  transition: box-shadow 0.3s ease, background-color 0.3s ease;
}

.btn-primary:focus {
  outline: none;
  box-shadow: 0 0 0 5px #abc6e0;
}

.input-block:focus {
  box-shadow: 0 0 0 1px rgb(16, 90, 187);
  outline: none;
}

.input-block:hover {
  background-color: #ececec;
}

.btn-login:focus {
  outline: none;
}

.no-account {
  width: 448px;
  text-align: center;
}

.register {
  color: rgb(16, 90, 187);
  text-decoration: none;
  font-weight: 500;
}

.recovery {
  text-decoration: none;
}


h2,
label {
  text-align: left;
  width: 448px;
}


footer {
  font-weight: 400;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}